
@{
    ViewBag.Title = "Draft Layout";
}

<div class="jumbotron">
    <h2>2.3 - Draft layout</h2>
    <p>
        Work with perspective users to develop a draft layout of the user interface for your application.
    </p>
</div>

