@model CS410HCI_LabBook.ViewModels.MapContentViewModel
@{
    ViewBag.Title = "Draft Layout";
}

<div id="jumboWidth" class="jumbotron">
    <h2>2.3 - Draft layout</h2>
    <p>
        Work with perspective users to develop a draft layout of the user interface for your application.
    </p>
</div>
<div>
    <h4>Experience</h4>
    <p>
        The users were very helpful with the drafting process. The initial draft was boxy and did not make 
        use of much color. The users advised us to use rounded borders around rectangles and also to use
        color to highlight tool sections that match a search. Together, we chose the color green to indicate 
        a matching section. We all wanted the matching section to really pop out at users so we chose to box
        it in with a dark green border and make the box large enough to draw people's attention. Users also 
        preferred to use separating lines between sections and a helpful message at the top indicating when 
        the library will close. Another helpful tip we received while working with them was with the 
        user-friendliness of the search. At first, if a given tool could reside in several sections, we were
        going to have users choose a section from a list of matches and then we would highlight that section.
        However, a user came up with a clever solution: just highlight in real-time all of the matching sections 
        as the user types. That is why our search screen draft page not only has the helpful type-ahead, but the
        sections related to the type-ahead are already highlighted. 
    </p>

    <br />

    <h4>Draft Layout Screen Shots</h4>
    <h5>Initial Screen</h5>
    <img class="layoutImages" src="https://510hci.mybalsamiq.com/mockups/4762406.png" />

    <br />
    <h5>Search Screen</h5>
    <img class="layoutImages" src="https://510hci.mybalsamiq.com/mockups/4762337.png" />

    <br />
    <h5>Map Highlight Screen</h5>
    <img class="layoutImages" src="https://510hci.mybalsamiq.com/mockups/4762018.png" />

    <br />
    <h5>Help Screen</h5>
    <img class="layoutImages" src="https://510hci.mybalsamiq.com/mockups/4762411.png" />
</div>

<style>
    .layoutImages {
        display: block;
        width: auto;
        height: auto;
    }
</style>

<script type="text/javascript">
    $(document).ready(resize());
    $(window).resize(resize());

    function resize() {
        var imageWidth = $("#jumboWidth").width();
        $(".layoutImages").width(imageWidth);
    }
</script>