
@{
    ViewBag.Title = "2.1 Ethnography";
}

<div class="jumbotron">
    <h2>2.1 - Ethnography</h2>
    <p>Shadow perspective users (ethnography study) for two hours and record your observations. 
       Review your observations and identify an application that enables the user to do something
       much easier/faster/better...
    </p>
</div>

