
@{
    ViewBag.Title = "Focus Gropu";
}

<div class="jumbotron">
    <h2>2.4 - Focus Group</h2>
    <p>
        Conduct a focus group with three perspective users to review the draft user interface design.
    </p>
</div>