
@{
    ViewBag.Title = "Scenarios";
}

<div class="jumbotron">
    <h2>2.2 - Scenarios</h2>
    <p>
        Work with perspective users to define usage scenarios for the application.
        Define the content and control models.  Define performance and preference criteria.
    </p>
</div>
<div>

    <h4>Usage scenarios</h4>
    <p>
        <h5>General usage scenarios</h5>
        <ol>
            <li>
                User walks into the library and returns a tool. They ask where to place it. The volunteer hands them an iPad to use to locate the section for the tool
                --Volunteer could also let them know a URL where the map lives online
                --Since they only have a few iPads and they are also used to sign up new users, a simple poster with sections labelled could help a lot too
            </li>
            <li>
                User wants to check a tool out but does not know where it is located. Volunteer can let them: use iPad, lookup map on their phone with a URL, or point them to a non-interactive poster with the map on it that could help.
            </li>
            <li>
                Some users may find it difficult to read small print on a phone / tablet screen. We should allow them to zoom in/out on the map and also to change text size easily.
            </li>
        </ol>
        <h5>Search scenarios</h5>
        <ol>
            <li>
                User has a tool and wants to know what to search for in the map in order to find its location. Users are much more likely to type in a tool "type" such as "hammer" or "drill" than type in the tool number. So the user would type in a tool type, get a list of matching sections, and tap/click a section to see its location.
            </li>
            <li>User wants to find a tool to check it out --- treated the same as (4).</li>
        </ol>
    </p>
    <p>
        Generally it is assumed most users will already know most tool "types" to be able to find tool sections. Our software should allow synonym searches though so "hammer" or "mallet" matches the "hammers" section, etc.
        <ol>
            <li>No electronic devices available: user consults a poster with a non-interactive map on it. We might be able use a large monitor / television to display the online map for viewing as well. This would allow volunteers to perhaps update the map some day and not have to redo a physical poster.</li>
        </ol>
        <h5>Maintenance scenarios</h5>
        <ol>
            <li>
                Updating the map with a new section. The tool library might add a new section or re-arrange sections. Volunteers need to be able to update the sections somehow. We could either provide them a tool to update the sections or hand-off the code (with training) to a tech-savvy volunteer, of which they have several.
            </li>
            <li>
                Drawing a new map. The tool library has moved in the past and might move again. Volunteers will need a way to redraw the map's sections.
            </li>
            <li>
                Adding helpful synonyms to the search. Volunteers may find some users are using terms or phrases that the search does not recognize. It would be helpful to them to be able to associate key phrases or words to a section so that the search will pick them up.
            </li>
            <li>
                Adding new sections to the search. While adding new sections to the map is important, users also need to be able to search for them. So volunteers need to be able to add new sections to the search. Eg, they will need to be able to add new sections and a body of tool types that relate to the new section.
            </li>
        </ol>
    </p>


    <br />
    <div>
        <h4 style="color:black">Content and Control Model</h4>
        <img src="~/Content/Recourse Documents/Content Control Model.jpg" style="width:100%" />
    </div>

    <br />
    <h4>Metrics</h4>
    <h5>Performance</h5>
    <ul>
        <li>Time it takes a user to return a tool in the library (2 minutes)</li>
        <li>Time it takes a user to find a tool in the library (2 minutes)</li>
        <li>Time it takes a user to search and find a section on the map (30 seconds)</li>
        <li>Time it takes for a volunteer to update the map with a new section (1 hour)</li>
        <li>Time it takes for a volunteer to update the search with a new section (15 minutes)</li>
        <li>Time it takes for a volunteer to draw a new map and integrate it with the software (2 hours)</li>
        <li>Time it takes for a volunteer to add synonyms for some tool type to the search (15 minutes)</li>
        <li>Time for the map to load (5 seconds)</li>
        <li>Time for the type-ahead in the search to respond (1 second)</li>
        <li>Time it takes for the user to find the help icon (8 seconds)</li>
        <li>Time it takes for the help content to load once clicked (2 seconds)</li>
        <li>Time it takes for the user to start typing in the search given a search phrase (5 seconds)</li>
    </ul>
    <h5>Preference</h5>
    <ul>
        <li>Would you recommend this to a friend? (at least 75%)</li>
        <li>Was this helpful to you for locating your tool? (at least 75%)</li>
        <li>Could you read all of the section names on the map? (at least 90%)</li>
        <li>Did the map accurately and intuitively reflect the library layout? (90%)</li>
        <li>Did you find the tool you were looking for in the section the search returned? (70%)</li>
        <li>Did the map sections remind you of other tools you needed to check out? (10%)</li>
        <li>How user friendly was the search tool? (likert scale 1-10, at least avg of 8)</li>
        <li>How helpful as the map to you? (likert scale 1-10, at least avg of 8)</li>
    </ul>
    <h5>Open-Ended Questions</h5>
    <ul>
        <li>What did you like best about the map?</li>
        <li>What did you like best about the search tool?</li>
        <li>What did you like the least about the application?</li>
        <li>What would you like added to this application?</li>
        <li>What would you like removed from this application?</li>
        <li>Do you have any comments or suggestions?</li>
    </ul>
</div>
