
@{
    ViewBag.Title = "Scenarios";
}

<div class="jumbotron">
    <h2>2.2 - Scenarios</h2>
    <p>
        Work with perspective users to define usage scenarios for the application.  
        Define the content and control models.  Define performance and preference criteria.
    </p>
</div>