@{
    ViewBag.Title = "User Interface";
}

<div class="jumbotron">
    <h2>2.5 - User Interface</h2>
    <p>
        Implement the user interface and perform usability tests that measure performance and preference criteria.
    </p>
</div>