@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CS410 HCI - Lab Book</h1>  
    <h3>Devin Sills, Luke Waninger</h3>
</div>
<h4><em>Site Announcements</em></h4>
<p>
    1 July 2016: The interface for Lab Project Two has been implemented. 
    Click the 'New Patient' at @Html.ActionLink("Project 2", "Two", "LabProject") button to check it out.
</p>

