@{
    ViewBag.Title = "Project 4";
}

<div class="jumbotron">
    <h3>Lab Project 4b -  Multiuser Application Guidelines</h3>
</div>

<div id="guidelinesGeneralized" class="list-group">
    <h4>Guidelines</h4>
    <p>
        Conducting research at a granular level on different types of multiuser applications allowed us
        to group generalized ideas for all mutliuser applications. They can be viewed by clicking the
        guideline below.
    </p>

    <div id="commonArea" class="guideline list-group-item">
        <h4>1.1 Common Area For Settings</h4>
        <div>
            <p>
                Designate one easily reachable area to all collaboration / sharing configurations.
            </p>
            <p><strong>Relative Importance: <span class="badge badge-1">1</span></strong></p>
            <p><strong>Strength of Evidence: <span class="badge badge-3">3</span></strong><p>
            <p>
                <strong>Comments: </strong>
                It is important for a collaborative software to make it easy to collaborate with others.
            </p>
        </div>
    </div>

    <div id="embeddedMessaging" class="guideline list-group-item">
        <h4>1.2 Embedded Messaging  </h4>
        <div>
            <p>
                Provide an embedded text messaging feature so that users can quickly communicate.
            </p>
            <p><strong>Relative Importance: <span class="badge badge-5">5</span></strong></p>
            <p><strong>Strength of Evidence: <span class="badge badge-5">5</span></strong><p>
                <strong>Comments: </strong>
                Text chat is also a ubiquitous feature in collaborative applications, so most users expect to have it because they are accustomed to having it available. Furthermore, the availability of a quick messaging service drastically improves collaboration effectiveness and efficiency.
            </p>
            <p>
                <strong>References:  </strong>
                <ul style="list-style-type:none">
                    <li>
                        <a style="color:blue" href="https://hbr.org/2014/04/how-a-weekly-meeting-took-up-300000-hours-a-year/">
                            Harvard Business Review
                        </a>
                    </li>
                    <li>
                        <a style="color:blue" href="http://www.statista.com/statistics/258749/most-popular-global-mobile-messenger-apps/">
                            The Statistics Portal
                        </a>
                    </li>
                    <li>
                        <a style="color:blue" href="http://www.academia.edu/266456/Using_Google_s_apps_for_the_collaborative_construction_refinement_and_formalization_of_knowledge">
                            Using Google’s Apps for the Collaborative Construction, Refinement and Formalization of Knowledge
                        </a>
                    </li>
                </ul>
            </p>
        </div>
    </div>

    <div id="helpContent" class="guideline list-group-item">
        <h4>1.3 Help Content</h4>
        <div>
            <p>
                Ensure help content is easily accessible
            </p>
            <p><strong>Relative Importance: <span class="badge badge-3">3</span></strong></p>
            <p><strong>Strength of Evidence: <span class="badge badge-5">5</span></strong><p>
            <p>
                <strong>Comments: </strong>
                It is important for users to easily and quickly access
                help content in case they are having trouble navigating your software.
            </p>
        </div>
    </div>

    <div id="keyboardFunctionality" class="guideline list-group-item">
        <h4>1.4 Keyboard Functionality</h4>
        <div>
            <p><strong>Relative Importance: <span class="badge badge-3">3</span></strong></p>
            <p><strong>Strength of Evidence: <span class="badge badge-5">5</span></strong><p>
            <p>
                Options should be reachable by keyboard only. elected options should be
                indicated with some form of highlighting of sufficient contract to indicate an option is active.
            </p>
            <p>
                <strong>Comments: </strong>
                For accessibility reasons, all options should be reachable by keyboard as well as mouse.
            </p>
            <p>
                <strong>References:  </strong>
                <a style="color:blue" href="https://www.w3.org/WAI/intro/wcag">
                    Web Content Accessibility Guidelines (WCAG) Overview
                </a>
            </p>
        </div>
    </div>

    <div id="permissionLevels" class="guideline list-group-item">
        <h4>1.5 Permission Levels</h4>
        <div>
            <p>
                An object owner should be able to set and control various permissions on individual collaborators.
            </p>
            <p><strong>Relative Importance: <span class="badge badge-5">5</span></strong></p>
            <p><strong>Strength of Evidence: <span class="badge badge-5">5</span></strong></p>
            <p>
                <strong>Comments: </strong>
                Users will not share collaborative objects if the data integrity of the shared object cannot be guaranteed.
                For communications applications, this includes screen and microphone control, participant control, and any other setting that effects all participants. Some of the permissions may include:
                <ol>
                    <li>Public viewing</li>
                    <li>Unique view only links</li>
                    <li>Grant/deny editing</li>
                    <li>Grant/deny the collaborator from adding other collaborators</li>
                    <li>Grant/deny the collaborator from printing/downloading the document</li>
                </ol>
            </p>
            <p>
                <strong>References:  </strong>
                <ul style="list-style-type:none">
                    <li>
                        <a style="color:blue" href="http://www.academia.edu/266456/Using_Google_s_apps_for_the_collaborative_construction_refinement_and_formalization_of_knowledge">
                            Using Google’s Apps for the Collaborative Construction, Refinement and Formalization of Knowledge
                        </a>
                    </li>
                </ul>
            </p>
        </div>
    </div>
</div>

<div id="guidelines" class="list-group">
    <h4>Granular Guidelines</h4>
    <p>
        Several guidelines specific to separate multiuser applications types are outlined below and contained in their
        respective categories. Along with the description, each guideline contains a respective
        Relative Importance, Strength of Evidence, comments, and references used to source the Strength of
        Evidence variable. Not all guidelines apply to all types of applications and so we created a set of
        guidelines unique to the application's use cases. Click on any of the application styles below to
        see their respective guidelines.
    </p>

    <div id="communicationsApplications" class="guideline list-group-item">
        <h4 class="title">Communications Applications</h4>
        <div>
            <div class="titleBar subGuideline">
                <h4>
                    .
                    <strong>
                        <span class="badge">Strength of Evidence [1-5]</span>
                        <span class="badge">Relative Importance [1-5]</span>
                    </strong>
                </h4>
            </div>

            <div id="americanSignLanguage" class="subGuideline">
                <h4>
                    2.1 American Sign Language (ASL) Intelligibility
                    <span class="badge badge-4">4</span>
                    <span class="badge badge-5">5</span>
                </h4>
                <div>
                    <p>
                        Use a video encoding format that supports American Sign Language (ASL) intelligibility.
                    </p>
                    <p>
                        <strong>Comments: </strong>
                        Capturing and sending ASL so that it is intelligible is a difficult engineering task.
                        Be sure to investigate which video encoding and transmission technologies can best
                        help you support transferring intelligible ASL through your software.
                    </p>
                    <p>
                        <strong>References:  </strong>
                        <ul style="list-style-type:none">
                            <li>
                                <a style="color:blue" href="http://dl.acm.org/citation.cfm?id=2522017">
                                    A computational model of the intelligibility of american sign language video and video coding applications
                                </a>
                            </li>
                            <li>
                                <a style="color:blue" href="https://www.imsglobal.org/accessibility/accessiblevers/sec7.html">
                                    IMS Guidelines for Developing Accessible Learning Applications
                                </a>
                            </li>
                            <li>
                                <a style="color:blue" href="http://www.ncbi.nlm.nih.gov/pubmed/18416521">
                                    MobileASL: intelligibility of sign language video over mobile phones
                                </a>
                            </li>
                        </ul>
                    </p>
                </div>
            </div>

            <div id="contactSharing" class="subGuideline">
                <h4>
                    2.2 Contact Sharing
                    <span class="badge badge-4">4</span>
                    <span class="badge badge-2">2</span>
                </h4>
                <div>
                    <p>
                        Allow users to quickly and easily share contacts with one-another.
                    </p>
                    <p>
                        <strong>Comments: </strong>
                        As evidenced by the quick popularity of the Bump application, users
                        desire a way to quickly and easily share contact information.
                    </p>
                    <p>
                        <strong>References:  </strong>
                        <ul style="list-style-type:none">
                            <li>
                                <a style="color:blue" href="https://en.wikipedia.org/wiki/Bump_(application)">
                                    Bump (application)
                                </a>
                            </li>
                        </ul>
                    </p>
                </div>
            </div>

            <div id="largeConference" class="subGuideline">
                <h4>
                    2.3 Large Conferences
                    <span class="badge badge-5">5</span>
                    <span class="badge badge-5">5</span>
                </h4>
                <div>
                    <p>
                        Allow users to create group video conversations, not just one-to-one conversations.
                    </p>
                    <p>
                        <strong>Comments: </strong>
                        Remote video group conversations can greatly reduce time wasted in long face-to-face
                        meetings. For non-corporate users, group chats are popular ways for remote groups of
                        friends to keep in touch.
                    </p>
                    <p>
                        <strong>References:  </strong>
                        <ul style="list-style-type:none">
                            <li>
                                <a style="color:blue" href="https://hbr.org/2014/04/how-a-weekly-meeting-took-up-300000-hours-a-year/">
                                    This Weekly Meeting Took Up 300,000 Hours a Year
                                </a>
                            </li>
                            <li>
                                <a style="color:blue" href="http://www.statista.com/statistics/193721/us-internet-users-who-have-participated-in-video-calls-or-chats-by-age-group/">
                                    Share of cell phone owners in the United States who have used video chat or video call services as of July 2015, by age group
                                </a>
                            </li>
                        </ul>
                    </p>
                </div>
            </div>

            <div id="potsDialIn" class="subGuideline">
                <h4>
                    2.4 Plain Old Telephone (POT)s Dial In
                    <span class="badge badge-3">3</span>
                    <span class="badge badge-1">1</span>
                </h4>
                <div>
                    <p>
                        Users should be able to call into a meeting with just a plain old telephone.
                    </p>
                    <p>
                        <strong>Comments: </strong>
                        It is a nice feature for users to be able to call into a video meeting.
                        Furthermore, users may need to participate in corporate conferences who do
                        not have a data connection. This guideline provides a necessary level of redundancy.
                    </p>
                </div>
            </div>

            <div id="screenSharing" class="subGuideline">
                <h4>
                    2.5 Screen Sharing
                    <span class="badge badge-4">4</span>
                    <span class="badge badge-5">5</span>
                </h4>
                <div>
                    <p>
                        Allow users to share their screens.
                    </p>
                    <p>
                        <strong>Comments: </strong>
                        For corporate environments, this is a must-have for sales demos and support.
                    </p>
                    <p>
                        <strong>References:  </strong>
                        <ul style="list-style-type:none">
                            <li>
                                <a style="color:blue" href="https://techcrunch.com/2010/05/15/skype-screen-sharing">
                                    Skype Screen Sharing Is A Huge (And Free) Productivity Tool
                                </a>
                            </li>
                            <li>
                                <a style="color:blue" href="https://en.wikipedia.org/wiki/Web_conferencing">
                                    Web Conferencing
                                </a>
                            </li>
                        </ul>
                    </p>
                </div>
            </div>

            <div id="userBlocking" class="subGuideline">
                <h4>
                    2.6 User Blocking
                    <span class="badge badge-5">5</span>
                    <span class="badge badge-5">5</span>
                </h4>
                <div>
                    <p>
                        Users should be able to block contacts from reaching them.
                    </p>
                    <p>
                        <strong>Comments: </strong>
                        Research shows that 40% of web users have experienced online harassment. Of those who have
                        been harassed, 8% have been physically threatened, 8% have been stalked, 22% have been specifically
                        targeted for embarassment, and 27% have been subjected to offensive name-calling. It is important
                        to protect users from online harassment. Giving users the ability to block other users facilitates
                        a safe environment for them.
                    </p>
                    <p>
                        <strong>References:  </strong>
                        <ul style="list-style-type:none">
                            <li>
                                <a style="color:blue" href="http://jiv.sagepub.com/content/19/4/468.short">
                                    A Survey of Online Harassment at a University Campus
                                </a>
                            </li>
                            <li>
                                <a style="color:blue" href="http://www.pewinternet.org/2014/10/22/online-harassment/">
                                    Online Harassment
                                </a>
                            </li>
                        </ul>
                    </p>
                </div>
            </div>

            <div id="transcripting" class="subGuideline">
                <h4>
                    2.7 Real Time Text Transcripting
                    <span class="badge badge-3">3</span>
                    <span class="badge badge-5">5</span>
                </h4>
                <div>
                    <p>
                        Users should be able to access a real-time text transcript of the conversation.
                    </p>
                    <p>
                        <strong>Comments: </strong>
                        This is an important feature for international or large-venue applications. However, it
                        is only helpful in international applications if the text is also translated to a given language.
                    </p>
                    <p>
                        <strong>References:  </strong>
                        <ul style="list-style-type:none">
                            <li>
                                <a style="color:blue" href="https://www.imsglobal.org/accessibility/accessiblevers/sec7.html">
                                    IMS Guidelines for Developing Accessible Learning Applications
                                </a>
                            </li>
                        </ul>
                    </p>
                </div>
            </div>

            <div id="translation" class="subGuideline">
                <h4>
                    2.8 Translation
                    <span class="badge badge-3">3</span>
                    <span class="badge badge-5">5</span>
                </h4>
                <div>
                    <p>
                        Provide a translation service for users to communitcate across different languages.
                    </p>
                    <p>
                        <strong>Comments: </strong>
                        The vast majority of consumers prefer advertisements, product information,
                        sales pitches, and virtually any form of communication in their own language.
                    </p>
                    <p>
                        <strong>References:  </strong>
                        <ul style="list-style-type:none">
                            <li>
                                <a style="color:blue" href="http://www.commonsenseadvisory.com/portals/_default/knowledgebase/articleimages/060926_r_global_consumer_preview.pdf">
                                    Can’t Read, Won’t Buy: Why Language Matters on Global Websites
                                </a>
                            </li>
                            <li>
                                <a style="color:blue" href="https://hbr.org/2012/08/speak-to-global-customers-in-t.html">
                                    Speak to Global Customers in Their Own Language
                                </a>
                            </li>
                        </ul>
                    </p>
                </div>
            </div>

            <div id="viewConferenceAttendees" class="subGuideline">
                <h4>
                    2.9 View Conference Attendees
                    <span class="badge badge-2">2</span>
                    <span class="badge badge-1">1</span>
                </h4>
                <div>
                    <p>
                        Provide users with a way to view contacts that are online and
                        connected to the conference.
                    </p>
                    <p>
                        <strong>Comments: </strong>
                        This guideline is intended for corporate level conferences. Managers need to know
                        which organization members are connected to the conference.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div id="documentEditors" class="guideline list-group-item">
        <h4 class="title">Document Editors</h4>
        <div>
            <div class="titleBar subGuideline">
                <h4>
                    .
                    <span class="badge">Strength of Evidence [1-5]</span>
                    <span class="badge">Relative Importance [1-5]</span>
                </h4>
            </div>

            <div id="alertSpecification" class="subGuideline">
                <h4>
                    3.1 Alert Specification
                    <span class="badge badge-2">2</span>
                    <span class="badge badge-1">1</span>
                </h4>
                <div>
                    <p>
                        Collaborators should be able to specify the level of alerts they get regarding the document. Such as:
                        <ol>
                            <li>A comment has been added to the document</li>
                            <li>The document has been deleted or renamed</li>
                            <li>Batch alerts about edits (eg, daily digest indicating X edits were made that day)</li>
                        </ol>
                    </p>
                    <p>
                        <strong>Comments: </strong>
                        It is nice for users to be able to opt-in to notifications.
                    </p>
                </div>
            </div>

            <div id="audioAlerting" class="subGuideline">
                <h4>
                    3.2 Audio Alerting
                    <span class="badge badge-1">1</span>
                    <span class="badge badge-3">3</span>
                </h4>
                <div>
                    <p>
                        Avoid using audio for alerts or indications to users.
                    </p>
                    <p>
                        <strong>References:  </strong>
                        <a style="color:blue" href="http://people.cs.vt.edu/mccricks/papers/SWM03.pdf">
                            Somervell, J., Wahid, S., and McCrickard, D. S. Usability heuristics for large screen information exhibits. In Proc. Interact’03, IOS Press (2003), 904–907.
                        </a>
                    </p>
                </div>
            </div>

            <div id="communicationLanguages" class="subGuideline">
                <h4>
                    3.3 Communication Language
                    <span class="badge badge-3">3</span>
                    <span class="badge badge-4">4</span>
                </h4>
                <div>
                    <p>
                        Support collaboration across multiple languages
                    </p>
                    <p>
                        <strong>Comments: </strong>
                        For international teams, it is very important to have this feature, but if
                        your team all speaks the same language then of course this feature is not as important.
                    </p>
                    <p>
                        <strong>References:  </strong>
                        <a style="color:blue" href="http://www.academia.edu/266456/Using_Google_s_apps_for_the_collaborative_construction_refinement_and_formalization_of_knowledge">
                            Using Google’s Apps for the Collaborative Construction, Refinement and Formalization of Knowledge
                        </a>
                    </p>
                </div>
            </div>

            <div id="documentVersioning" class="subGuideline">
                <h4>
                    3.4 Document versioning
                    <span class="badge badge-3">3</span>
                    <span class="badge badge-4">4</span>
                </h4>
                <div>
                    <p>
                        Document versioning, last edit wins, and document history needs to be stable and consistent
                        for all collaborators. Owners should be able to revert the document to a previous version.
                    </p>
                    <div>
                        <p>
                            <strong>Comments: </strong>
                        </p>
                        <p>
                            With simultaneous editing, simply let the last edit win and users can sort out conflicts
                            themselves by using versioning, chat, and permissions features. Last-edit itself can be
                            misleading when considering the technical aspects of simultaneous editing. For example, if
                            user 1 and user 2 are editing document "abc" and user 1 adds "x" to position 0 of "abc" and user
                            2 deletes the "c" from abc (ie, deletes position 2 in a 0-based position system), then we'd
                            expect the result to be "xab". But if we simply send edits without transforming them based on
                            other edits, we'd get the unexpected "xac". Transforming simultaneous edits based on other edits
                            is called Operational Transformation and is recommended here.
                        </p>
                        <p>
                            For larger projects, it is important to be able to view the versions of a document.
                        </p>
                        <p>
                            <strong>References:  </strong>
                            <ul style="list-style-type:none">
                                <li>
                                    <a style="color:blue" href="http://blog.gainlo.co/index.php/2016/03/22/system-design-interview-question-how-to-design-google-docs/">
                                        How To Design Google Docs
                                    </a>
                                </li>
                                <li>
                                    <a style="color:blue" href="https://en.wikipedia.org/wiki/Operational_transformation">
                                        Operational Transformation
                                    </a>
                                </li>
                                <li>
                                    <a style="color:blue" href="http://www.academia.edu/266456/Using_Google_s_apps_for_the_collaborative_construction_refinement_and_formalization_of_knowledge">
                                        Using Google’s Apps for the Collaborative Construction, Refinement and Formalization of Knowledge
                                    </a>
                                </li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>

            <div id="environmentSeparation" class="subGuideline">
                <h4>
                    3.5 Environment Separation
                    <span class="badge badge-2">2</span>
                    <span class="badge badge-3">3</span>
                </h4>
                <div>
                    <p>
                        Allow users to separate personal / non-shared documents from shared / collaborative ones.
                    </p>
                    <p>
                        <strong>Comments: </strong>
                        Users tend to organize their work into personal and professional categories.
                        Try to give them this intuitive choice in your collaborative software as well.
                    </p>
                    <p>
                        <strong>References:  </strong>
                        <a style="color:blue" href="https://hci.stanford.edu/publications/2003/tabletopguidelines/tabletopguidelines.pdf">
                            System Guidelines for Co-located, Collaborative Work on a Tabletop Display
                        </a>
                    </p>
                </div>
            </div>

            <div id="fileFormats" class="subGuideline">
                <h4>
                    3.6 File Formats
                    <span class="badge badge-5">5</span>
                    <span class="badge badge-5">5</span>
                </h4>
                <div>
                    <p>
                        Support multiple file formats
                    </p>
                    <p>
                        <strong>Comments: </strong>
                        It is vital for users to be able to share their documents across many formats as
                        teams might use different OSes, reside in different countries that use different
                        popular file formats, etc.
                    </p>
                    <p>
                        <strong>References:  </strong>
                        <a style="color:blue" href="http://www.academia.edu/266456/Using_Google_s_apps_for_the_collaborative_construction_refinement_and_formalization_of_knowledge">
                            Using Google’s Apps for the Collaborative Construction, Refinement and Formalization of Knowledge
                        </a>
                    </p>
                </div>
            </div>

            <div id="userLocation" class="subGuideline">
                <h4>
                    3.7 User Location
                    <span class="badge badge-1">1</span>
                    <span class="badge badge-1">1</span>
                </h4>
                <div>
                    <p>
                        Each user’s location should be displayed on all user’s views along with the
                        changes being made as quickly as possible.
                    </p>
                    <p>
                        <strong>Comments: </strong>
                        Without this guideline, user's will be inclined to work on the same
                        portions of the document at the same time. This reduces collaborative efficiency.
                    </p>
                </div>
            </div>

            <div id="viewSettings" class="subGuideline">
                <h4>
                    3.8 View Settings
                    <span class="badge badge-5">5</span>
                    <span class="badge badge-5">5</span>
                </h4>
                <div>
                    <p>
                        Allow users to customize view settings, such as zoom level without affecting other users.
                        Users should be able to control their own view, such that when another user
                        switches views, it does not affect other users.
                    </p>
                    <p>
                        <strong>Comments: </strong>
                        Users need to be able to control their view, but not affect others' view.  Users will quickly
                        become frustrated with a collaborative environment that changes drastically without their input.
                    </p>
                    <p>
                        <strong>References:  </strong>
                        <a style="color:blue" href="https://www.researchgate.net/publication/277503101_Multi-User_Usability_Guidelines_for_Interactive_Wall_Display_Applications">
                            Multi-User Usability Guidelines for Interactive Wall Display Applications
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div id="drawingApplications" class="guideline list-group-item">
        <h4 class="title">Drawing Applications</h4>
        <div>
            <div class="titleBar subGuideline">
                <h4>
                    <strong>
                        Guideline
                        <span class="badge">Strength of Evidence [1-5]</span>
                        <span class="badge">Relative Importance [1-5]</span>
                    </strong>
                </h4>
            </div>

            <div id="communityPresentation" class="subGuideline">
                <h4>
                    4.1 Community Presentation
                    <span class="badge badge-5">5</span>
                    <span class="badge badge-3">3</span>
                </h4>
                <div>
                    <p>
                        Provide users with a general community where drawing and sketches can be shared,
                        commented on, and possibly collaborated on as well, if drawing owners allow it.
                    </p>
                    <p>
                        <strong>Comments: </strong>
                        A central place to view the artwork the community has created will inspire more
                        art and allow users to share and comment on their work.
                    </p>
                    <p>
                        <strong>References:  </strong>
                        <a style="color:blue" href="http://artprompts.org/the-best-online-art-communities/">
                            The Best Online Art Communities
                        </a>
                    </p>
                </div>
            </div>

            <div id="formatConversion" class="subGuideline">
                <h4>
                    4.2 Format Conversion
                    <span class="badge badge-2">2</span>
                    <span class="badge badge-2">2</span>
                </h4>
                <div>
                    <p>
                        Allow users to download and share drawings in popular picture formats, such as png, jpg, etc.
                    </p>
                    <p>
                        <strong>Comments: </strong>
                        The evidence for this guideline should be self-evident. Art is typically created to be shared
                        and using popular formats facilitates sharing. However, picture formats tend to be easily
                        interchangeable so at least supporting one popularm such as png or jpg format may be enough.
                    </p>
                </div>
            </div>

            <div id="realTimeUpdates" class="subGuideline">
                <h4>
                    4.3 Real Time Updates
                    <span class="badge badge-5">5</span>
                    <span class="badge badge-3">3</span>
                </h4>
                <div>
                    <p>
                        Allow users to see others' edits in real-time on a shared drawing.
                    </p>
                    <p>
                        <strong>Comments: </strong>
                        Users will want to see edits in real-time because this
                        feature is prevalent in most collaborate editing software, such as Google Docs and Spreadsheets.
                    </p>
                    <p>
                        <strong>References:  </strong>
                        <ul style="list-style-type:none">
                            <li>
                                <a style="color:blue" href="https://en.wikipedia.org/wiki/Operational_transformation">
                                    Operational Transformation
                                </a>
                            </li>
                            <li>
                                <a style="color:blue" href="http://blog.gainlo.co/index.php/2016/03/22/system-design-interview-question-how-to-design-google-docs/">
                                    How To Design Google Docs
                                </a>
                            </li>
                        </ul>
                    </p>
                </div>
            </div>

            <div id="socialMediaPlatforms" class="subGuideline">
                <h4>
                    4.4 Social Media Platforms
                    <span class="badge badge-4">4</span>
                    <span class="badge badge-5">5</span>
                </h4>
                <div>
                    <p>
                        Allow users to share drawings on popular social media platforms, such as Facebook, Twitter, Instagram, etc.
                    </p>
                    <p>
                        <strong>Comments: </strong>
                        Allowing users to post drawings to social media will greatly enhance their experience and inspire more artwork.
                    </p>
                    <p>
                        <strong>References:  </strong>
                        <a style="color:blue" href="http://www.cnn.com/2009/TECH/08/19/online.collaborative.art/index.html?eref=ig">
                            Strangers gather on Web to make collective art
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div id="fileSharingApplications" class="guideline list-group-item">
        <h4 class="title">File Sharing and Document Library Applications</h4>
        <div>
            <div class="titleBar subGuideline">
                <h4>
                    .
                    <span class="badge">Strength of Evidence [1-5]</span>
                    <span class="badge">Relative Importance [1-5]</span>
                </h4>
            </div>

            <div id="administratorOverrides" class="subGuideline">
                <h4>
                    5.1 Administrator Overrides
                    <span class="badge badge-4">4</span>
                    <span class="badge badge-5">5</span>
                </h4>
                <div>
                    <p>
                        Site administrators should be able to control check in/out states.
                    </p>
                    <p>
                        <strong>Comments: </strong>
                        Administrator control should allow the prevention of indefinite check outs, or allow administrators
                        to control the check out states of all shared objects. This allows the object to be removed from
                        an inaccessible state through various user interactions.
                    </p>
                    <p>
                        <strong>References:  </strong>
                        <a style="color:blue" href="http://www.mssharepointtips.com/tip.asp?id=928">
                            Taking Control of Checked Out Documents in SharePoint
                        </a>
                    </p>
                </div>
            </div>

            <div id="checkOutControl" class="subGuideline">
                <h4>
                    5.2 Check Out Control
                    <span class="badge badge-3">3</span>
                    <span class="badge badge-3">3</span>
                </h4>
                <div>
                    <p>
                        Once an object is checked out, no other user should be able to simultaneously check out or make changes to
                        the same object.
                    </p>
                    <p>
                        <strong>Comments: </strong>
                        If an object requires check out and it is checked out. No other user should be able to work on the same
                        object at the same time. If multiple checkouts are allowed, merging procedures should be implemented in order to
                        maintain data integrity across all user interfaces.
                    </p>
                    <p>
                        <strong>References:  </strong>
                        <a style="color:blue" href="http://sharepointpromag.com/sharepoint-administration/top-10-best-practices-document-libraries">
                            Top 10 Best Practices for Document Libraries
                        </a>
                    </p>
                </div>
            </div>

            <div id="commenting" class="subGuideline">
                <h4>
                    5.3 Commenting
                    <span class="badge badge-2">2</span>
                    <span class="badge badge-3">3</span>
                </h4>
                <div>
                    <p>
                        Check in should require a description of the changes made.
                    </p>
                    <p>
                        <strong>Comments: </strong>
                        This guideline provides the 'why' to describe the purpose of the associated change.
                    </p>
                </div>
            </div>

            <div id="duration" class="subGuideline">
                <h4>
                    5.4 Duration
                    <span class="badge badge-4">4</span>
                    <span class="badge badge-3">3</span>
                </h4>
                <div>
                    <p>
                        Check out time duration should be limited.
                    </p>
                    <p>
                        <strong>Comments: </strong>
                        Duration limits should be implemented to preclude a user from keeping an object checked out
                        indefinitely without reconfirming the check out after the set duration.
                    </p>
                    <p>
                        <strong>References:  </strong>
                        <a style="color:blue" href="http://sharepointpromag.com/sharepoint-administration/top-10-best-practices-document-libraries">
                            Top 10 Best Practices for Document Libraries
                        </a>
                    </p>
                </div>
            </div>

            <div id="metadata" class="subGuideline">
                <h4>
                    5.5 Metadata
                    <span class="badge badge-2">2</span>
                    <span class="badge badge-3">3</span>
                </h4>
                <div>
                    <p>
                        Check out should be timestamped.
                    </p>
                    <p>
                        <strong>Comments: </strong>
                        A checkout should be timestamped so other users know how long the item has been checked out and can ascertain
                        when the object will be available for edit. This also prevents indefinitely long checkouts by providing a data
                        field for duration comparison.
                    </p>
                    <p>
                        <strong>References:  </strong>
                        <ul style="list-style-type:none">
                            <li>
                                <a style="color:blue" href="http://sharepointmaven.com/top-5-best-practices-document-management-sharepoint/">
                                    Top 5 Best Practices for Document Management in SharePoint
                                </a>
                            </li>
                            <li>
                                <a style="color:blue" href="http://sharepointpromag.com/sharepoint-administration/top-10-best-practices-document-libraries">
                                    Top 10 Best Practices for Document Libraries
                                </a>
                            </li>
                        </ul>
                    </p>
                </div>
            </div>

            <div id="objectUpdateFrequency" class="subGuideline">
                <h4>
                    5.6 Object Update Frequency
                    <span class="badge badge-1">1</span>
                    <span class="badge badge-5">5</span>
                </h4>
                <div>
                    <p>
                        Object changes should be updated as quickly as possible and reflected across
                        all user views.
                    </p>
                    <p>
                        <strong>Comments: </strong>
                        Users need to work on the most updated version of shared objects so that changes are not
                        lost amongst users. Without immediate updates, users would be unaware of the concurrent changes
                        being made. This would significantly degrade the usability of the application as the integrity
                        of the shared object would be compromised.
                    </p>
                </div>
            </div>

            <div id="objectVersioning" class="subGuideline">
                <h4>
                    5.7 Object Versioning
                    <span class="badge badge-3">3</span>
                    <span class="badge badge-4">4</span>
                </h4>
                <div>
                    <p>
                        Checking in objects should be saved as a differential along with who made the change and when the change was made.
                    </p>
                    <p>
                        <strong>Comments: </strong>
                        Each shared object should be able to be restored to any of its previous states. To do this, each check in needs
                        to be associated with a differential between its previous states. Each check in should also store references to
                        which user made the change and at what time. This gives users the ability to find out who, what, when, and why
                        a change was made enhancing the usability of the application.
                    </p>
                    <p>
                        <strong>References:  </strong>
                        <a style="color:blue" href="http://sharepointpromag.com/sharepoint-administration/top-10-best-practices-document-libraries">
                            Top 10 Best Practices for Document Libraries
                        </a>
                    </p>
                </div>
            </div>

            <div id="validation" class="subGuideline">
                <h4>
                    5.8 Validation
                    <span class="badge badge-1">1</span>
                    <span class="badge badge-3">3</span>
                </h4>
                <div>
                    <p>
                        Check in procedures should include validation and confirmation before updating the central repository.
                    </p>
                    <p>
                        <strong>Comments: </strong>
                        User's may accidentally check in an object prior to completion or with incorrectly entered data. This guideline
                        provides an extra layer of validation so as to not degrade the experience of any other user.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="report">
    <h4>Application Reports</h4>
    <div>
        <p>
            Several multiuser applications were evaluated according the guidelines described above.
            Each application was given a score comparative to the relative importance and strength of evidence
            associated with pertaining guideline. Overall scores were calculated using a weighted average between
            the Relative Importance and value given to that guideline. The highest ranking collaborative document 
            editor went to Google Docs. Both communications applications received the same score of 4.4. FlockDraw 
            stole the show receiving a perfect score for drawing applications. The applications investigated are
            listed below and can be clicked on to see their respective results.
        </p>
        <div id="reportsContainer" class="list-group">
            <div id="googleDocsReport" class="reportItem list-group-item">
                <h5>Google Docs</h5>
                <div>
                    <ul>
                        <li><strong>Application Type: </strong> Document Editor</li>
                        <li><strong>Supporting Arguments </strong></li>
                        <li class="padLeft">
                            Can actually translate docs, was surprising.
                            <span class="badge badge-1">5</span>
                        </li>
                        <li class="padLeft">
                            Some issues saving to different formats (some formatting can be lost, esp with footnotes and embedded images / graphs).
                            <span class="badge badge-3">3</span>
                        </li>
                        <li class="padLeft">
                            Doesn't really have a "collaboration center" to manage everything from one place.
                            <span class="badge badge-5">1</span>
                        </li>
                        <li class="padLeft">
                            Uses audio to indicate a new message in chat (users can turn off).
                            <span class="badge badge-1">5</span>
                        </li>
                        <li class="padLeft">
                            Options are reachable by keyword, but hard to tell which one you have selected.
                            <span class="badge badge-3">3</span>
                        </li>
                        <li class="padLeft">
                            No specific "private" or "personal" area for documents that are not shared.
                            Instead just a documents or folder view and each document can have its sharing settings customized.
                            <span class="badge badge-1">5</span>
                        </li>
                        <li class="padLeft">
                            No way to get notification digests when users change things, notifications only available when a user
                            makes a comment on something.
                            <span class="badge badge-3">3</span>
                        </li>
                        <li class="padLeft">
                            Docs uses operational transformation to handle simultaneous edits.
                            <span class="badge badge-1">5</span>
                        </li>
                        <li>
                            <strong>Summary: </strong>
                            Google Docs is very cutting edge in terms of multi user collaborative document editing. They meet
                            every guideline but not perfectly. Specifically, they need to work on supporting different formats
                            and ensuring Google Doc documents will look similar in another format. This is especially true with images,
                            graphs, footnotes, and pagination. They could also improve their accessibility by using better color
                            contrast to show which option in a list is the active option.
                        </li>
                    </ul>
                    <h5 style="float:right"><strong>Overall Score: 4.6</strong></h5>
                </div>
            </div>

            <div id="googleSheetsReprt" class="reportItem list-group-item">
                <h5>Google Sheets</h5>
                <div>
                    <ul style="list-style-type:none">
                        <li><strong>Application Type: </strong> Document Editor</li>
                        <li><strong>Supporting Arguments </strong></li>
                        <li class="padLeft">
                            No language translation, but might not apply to this app.
                            <span class="badge badge-5">1</span>
                        </li>
                        <li class="padLeft">
                            Does allow notification digests when users change things.
                            <span class="badge badge-1">5</span>
                        </li>
                        <li class="padLeft">
                            Supports Filter Views so that users can filter the spreadsheet without affecting other users.
                            <span class="badge badge-1">5</span>
                        </li>
                        <li class="padLeft">
                            Graphs did not come through when saving to xlsx.
                            <span class="badge badge-3">3</span>
                        </li>
                        <li>
                            <strong>Summary: </strong>
                            Google Sheets, like Google Docs, has some work to do when converting to different document types.
                            However, Google Sheets excels in all other aspects, including the ability to be notified when a
                            spreadsheet changes.
                        </li>
                    </ul>
                    <h5 style="float:right"><strong>Overall Score: 4.5</strong></h5>
                </div>
            </div>

            <div id="googleHangouts" class="reportItem list-group-item">
                <h5>Google Hangouts</h5>
                <div>
                    <ul>
                        <li><strong>Application Type: </strong> Communications Application</li>
                        <li><strong>Supporting Arguments </strong></li>
                        <li class="padLeft">
                            Does have an embedded ASL translation service.
                            <a style="color:blue" href="https://techcrunch.com/2013/03/01/google-launches-sign-language-interpreter-app-for-hangouts-adds-accessibility-features-to-gmail-drive-and-chrome/">
                                Google Launches Sign Language Interpreter App For Hangouts, Adds Accessibility Features To Gmail, Drive And Chrome
                            </a>
                            <span class="badge badge-1">5</span>
                        </li>
                        <li class="padLeft">
                            Can easily share contacts using phone and web applications.
                            <span class="badge badge-1">5</span>
                        </li>
                        <li class="padLeft">
                            Help content is easily found.
                            <span class="badge badge-1">5</span>
                        </li>
                        <li class="padLeft">
                            Can perform all actions with keyboard. Not easily for me because I don't normally use hangouts
                            in this way but it can be done.
                            <span class="badge badge-1">5</span>
                        </li>
                        <li class="padLeft">
                            Can have up to 25 participants in a group conversation. Audio/Video bandwidth algorithms
                            compensate for more participants to increase quality.
                            <a style="color:blue" href="https://apps.google.com/products/hangouts/">Hangouts</a>
                            <span class="badge badge-1">5</span>
                        </li>
                        <li class="padLeft">The application was built on a messaging platform. Works flawlessly.<span class="badge badge-1">5</span></li>
                        <li class="padLeft">
                            Can perform two way communications with POTs but they can not join group conversations.
                            <span class="badge badge-4">2</span>
                        </li>
                        <li class="padLeft">Screen sharing is easy and intuitive.<span class="badge badge-1">5</span></li>
                        <li class="padLeft">
                            User blocking is easy and intuitive only requiring two clicks.
                            <a style="color:blue" href="https://support.google.com/hangouts/answer/2945109?co=GENIE.Platform%3DDesktop&hl=en">Block or ignore someone</a>
                            <span class="badge badge-1">5</span>
                        </li>
                        <li class="padLeft">
                            Real time transcription is not built into Hangouts but service can be performed
                            by a third part plug in <a style="color:black" href="https://hangout-captions.appspot.com/">Hangout Captions</a>
                            <span class="badge badge-3">3</span>
                        </li>
                        <li class="padLeft">
                            Real-time translation services are not yet offered but are in the works according to
                            <a style="color:blue" href="http://www.expertreviews.co.uk/pcs/1402413/google-to-offer-real-time-voice-translation-on-smartphones">Google to offer real-time voice translation on smartphones</a>
                            <span class="badge badge-5">1</span>
                        </li>
                        <li class="padLeft">
                            Viewing conference attendees is built into the application.
                            <a style="color:blue" href="https://apps.google.com/products/hangouts/">Hangouts</a>
                            <span class="badge badge-1">5</span>
                        </li>
                        <li>
                            <strong>Summary: </strong>
                            The Google Hangouts application is fantastic either meeting or exceeding most guidelines outlined above.
                        </li>
                    </ul>
                    <h5 style="float:right"><strong>Overall Score: 4.4</strong></h5>
                </div>
            </div> 

            <div id="flockDraw" class="reportItem list-group-item">
                <h5>FlockDraw</h5>
                <div>
                    <ul>
                        <li><strong>Application Type: </strong> Drawing Application</li>
                        <li><strong>Supporting Arguments </strong></li>
                        <li class="padLeft">
                            Users can set permissions per drawing.
                            <span class="badge badge-1">5</span>
                        </li>
                        <li class="padLeft">
                            They can see edits in real-time.
                            <span class="badge badge-1">5</span>
                        </li>
                        <li class="padLeft">
                            They can post to social media from within the site but can only save in the jpeg format.
                            <span class="badge badge-1">5</span>
                        </li>
                        <li class="padLeft">
                            Users can chat with one-another as they work on a piece.
                            <span class="badge badge-1">5</span>
                        </li>
                        <li class="padLeft">
                            FlockDraw has a vibrant and large community where artwork is shared and commented on.
                            <span class="badge badge-1">5</span>
                        </li>
                        <li>
                            <strong>Summary: </strong>
                            FlockDraw offers many great features: a great community to share and comment on art, the ability to save a
                            drawing locally, social media integration, chat, real-time collaboration, and permissions. It could be
                            improved even more if it offered more than 1 file format for its drawings.
                        </li>
                    </ul>
                    <h5 style="float:right"><strong>Overall Score: 5</strong></h5>
                </div>
            </div>

            <div id="microsoftOneNote" class="reportItem list-group-item">
                <h5>Microsoft OneNote</h5>
                <div>
                    <ul>
                        <li><strong>Application Type: </strong> Document Editor</li>
                        <li><strong>Supporting Arguments </strong></li>
                        <li class="padLeft">
                            Alerting does not exist although it is in the OneNote User Voice forums to be added as a feature.
                            <span class="badge badge-5">1</span>
                        </li>
                        <li class="padLeft">
                            Audio alerting does not exist.
                            <span class="badge badge-5">1</span>
                        </li>
                        <li class="padLeft">
                            Common area can easily be configured by users.
                            <span class="badge badge-1">5</span>
                        </li>
                        <li class="padLeft">
                            Text translation is built into all Microsoft Office products.
                            <a style="color:blue" href="https://support.office.com/en-us/article/Translate-text-in-a-different-language-287380e4-a56c-48a1-9977-f2dca89ce93f">Text Translation</a>
                            <span class="badge badge-1">5</span>
                        </li>
                        <li class="padLeft">
                            Document versioning is stored by each unique change and author to the document and can be easily be reverted.
                            <span class="badge badge-1">5</span>
                        </li>
                        <li class="padLeft">
                            If OneNote offers embedding messaging, I was unable to find it.
                            <span class="badge badge-5">1</span>
                        </li>
                        <li class="padLeft">
                            Environment separation is native to the application. Only shared notebooks become collaborative.
                            <span class="badge badge-1">5</span>
                        </li>
                        <li class="padLeft">
                            File formatting is limited to Microsoft proprietary. However, they offer OneNote Online application
                            so that any browser and any OS can collaborate.
                            <span class="badge badge-1">5</span>
                        </li>
                        <li class="padLeft">
                            Individual user views are built into the native desktop application but not the web application
                            <span class="badge badge-1">5</span>
                        </li>
                        <li class="padLeft">
                            Can be completely controlled with keyboard.
                            <span class="badge badge-1">5</span>
                        </li>
                        <li class="padLeft">
                            Last edit wins occurs for some items but handwriting is drawn over the top of each other.
                            <span class="badge badge-1">5</span>
                        </li>
                        <li class="padLeft">
                            Permissions are uniquely set with each share and can be itemized.
                            <span class="badge badge-1">5</span>
                        </li>
                        <li>
                            <strong>Summary: </strong>
                            There are two guidelines to which Microsoft OneNote is lacking: alerting and embedded messaging.
                            Every other guideline has been refined and works well. I've been using this application as both a personal
                            and collaborative notebook for the past several years. It is fantastic. The features not governed in these
                            guidelines far outweigh the guidelines that it is lacking.
                        </li>
                    </ul>
                    <h5 style="float:right"><strong>Overall Score: 4.3</strong></h5>
                </div>
            </div>            

            <div id="microsoftWord" class="reportItem list-group-item">
                <h5>Microsoft Word</h5>
                <div>
                    <ul>
                        <li><strong>Application Type: </strong> Document Editor</li>
                        <li><strong>Supporting Arguments </strong></li>
                        <li class="padLeft">
                            Alerting does not exist.
                            <span class="badge badge-5">1</span>
                        </li>
                        <li class="padLeft">
                            Audio alerting does not exist.
                            <span class="badge badge-5">1</span>
                        </li>
                        <li class="padLeft">
                            Common areas do not exist. People collaborate on the same page simultaneously. It does not 
                            degrade the user experience.
                            <span class="badge badge-3">3</span>
                        </li>
                        <li class="padLeft">
                            Text translation is built into all Microsoft Office products.
                            <a style="color:blue" href="https://support.office.com/en-us/article/Translate-text-in-a-different-language-287380e4-a56c-48a1-9977-f2dca89ce93f">Text Translation</a>
                            <span class="badge badge-1">5</span>
                        </li>
                        <li class="padLeft">
                            Document versioning is stored by each unique change and author to the document and can be easily be reverted.
                            <span class="badge badge-1">5</span>
                        </li>
                        <li class="padLeft">
                            If Word offers embedding messaging, I was unable to find it.
                            <span class="badge badge-5">1</span>
                        </li>
                        <li class="padLeft">
                            Environment separation is native to the application. Only shared notebooks become collaborative.
                            <span class="badge badge-1">5</span>
                        </li>
                        <li class="padLeft">
                            File formatting is limited to Microsoft proprietary. However, they offer the Word Online application
                            so that any browser and any OS can collaborate. Documents can also be saved and/or exported to a
                            plethora of formats.
                            <span class="badge badge-1">5</span>
                        </li>
                        <li class="padLeft">
                            Individual user views are built into the native desktop application but not the web application.
                            <span class="badge badge-1">5</span>
                        </li>
                        <li class="padLeft">
                            Can be completely controlled with keyboard.
                            <span class="badge badge-1">5</span>
                        </li>
                        <li class="padLeft">
                            Last edit wins occur but each change is tracked so that some can be accepted while others can
                            be rejected.
                            <span class="badge badge-1">5</span>
                        </li>
                        <li class="padLeft">
                            Permissions are uniquely set with each share and can be itemized.
                            <span class="badge badge-1">5</span>
                        </li>
                        <li>
                            <strong>Summary: </strong>
                            There are two guidelines to which Microsoft Word is lacking: alerting and embedded messaging.
                            Every other guideline has been refined and works well.
                        </li>
                    </ul>
                    <h5 style="float:right"><strong>Overall Score: 4.3</strong></h5>
                </div>
            </div>

            <div id="netSketch" class="reportItem list-group-item">
                <h5>NetSketch</h5>
                <div>
                    <ul>
                        <li><strong>Application Type: </strong> Drawing Application</li>
                        <li><strong>Supporting Arguments </strong></li>
                        <li class="padLeft">
                            Users can set permissions per drawing.
                            <span class="badge badge-1">5</span>
                        </li>
                        <li class="padLeft">
                            Artists see others' edits in real-time.
                            <span class="badge badge-1">5</span>
                        </li>
                        <li class="padLeft">
                            Users can only save their drawing using the default photo format of their mobile device.
                            They can also email their drawing or post it to the NetSketch community.
                            <span class="badge badge-3">3</span>
                        </li>
                        <li class="padLeft">
                            NetSketch maintains a community of their drawings.
                            <span class="badge badge-1">5</span>
                        </li>
                        <li class="padLeft">
                            From within the app, users cannot upload to popular social media platforms.
                            <span class="badge badge-1">5</span>
                        </li>
                        <li class="padLeft">
                            There is no chat function in NetSketch.
                            <span class="badge badge-5">1</span>
                        </li>
                        <li>
                            <strong>Summary: </strong>
                            NetSketch offers basic collaborative drawing to users. However, it lacks direct social media integration.
                            Also, communication is key in collaborative software and NetSketch lacks a chat feature. Furthermore,
                            their UI and clunky and awkward. For example, clicking out of a menu by clicking somewhere else will
                            trigger a click if you clicked on something else. This can bring you into an area of the app that you
                            did not want to navigate to. Also, the app prompts you to login in separate places even after you have
                            ogged in from another screen.
                        </li>
                    </ul>
                    <h5 style="float:right"><strong>Overall Score: 3.9</strong></h5>
                </div>
            </div>

            <div id="skype" class="reportItem list-group-item">
                <h5>Skype</h5>
                <div>
                    <ul>
                        <li><strong>Application Type: </strong> Communications Application</li>
                        <li><strong>Supporting Arguments </strong></li>
                        <li class="padLeft">
                            Offers text chat.
                            <span class="badge badge-1">5</span>
                        </li>
                        <li class="padLeft">
                            Offers group conversations.
                            <span class="badge badge-1">5</span>
                        </li>
                        <li class="padLeft">
                            Has the Skype Translator feature, which can translate to different languages and also display a real-time
                            transcript of the conversation. Language support could be better --SOURCE:
                            <a style="color:blue" href="http://www.digitaltrends.com/computing/get-instant-text-voice-translation-skype-translator-preview/">Can Skype translator really help you</a>
                            <span class="badge badge-3">3</span>
                        </li>
                        <li class="padLeft">
                            The "New Chat" icon was not accessible via keyboard through tabbing.
                            <span class="badge badge-3">3</span>
                        </li>
                        <li class="padLeft">
                            Users can easily share contacts with one-another.
                            <span class="badge badge-1">5</span>
                        </li>
                        <li class="padLeft">
                            Help content was buried under too many clicks and opens in a new tab instead of within the app.
                            <span class="badge badge-3">3</span>
                        </li>
                        <li class="padLeft">
                            Provides users the capability to see which of their contacts are currently online.
                            <span class="badge badge-1">5</span>
                        </li>
                        <li class="padLeft">
                            Has screen sharing.
                            <span class="badge badge-1">5</span>
                        </li>
                        <li class="padLeft">
                            Users are able to block other contacts.
                            <span class="badge badge-1">5</span>
                        </li>
                        <li class="padLeft">
                            Users can call into a Skype meeting.
                            <span class="badge badge-1">5</span>
                        </li>
                        <li>
                            <strong>Summary: </strong>
                            Skype was a pioneer in online video conferencing and meetings and Skype is still a major player in that field.
                            Their software is mature and feature-packed. Their language translation feature could be improved to offer more
                            languages and better accuracy. Also, their help content and UI navigation needs to be made more accessible.
                        </li>
                    </ul>
                    <h5 style="float:right"><strong>Overall Score: 4.4</strong></h5>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-uiNEW.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">

<script type="text/javascript">
    $(document).ready(function () {
        $(".guideline").accordion({
            collapsible: true,
            active: false,
            heightStyle: "content"
        });

        $(".reportItem").accordion({
            collapsible: true,
            active: false,
            heightStyle: "content"
        });

        $(".subGuideline").accordion({
            collapsible: true,
            active: false,
            heightStyle: "content"
        });

        $(".titleBar").accordion({
            collapsible: false,
            active: false,
            icons: "",
        });
    })
</script>

<style>
    .reportItem ul {
        margin-top: 7px;
        list-style-type: none;
        padding-left: 5px;
    }

    .reportItem ul li {
        margin-bottom: 5px;
        padding-right: 25px;
    }

    .padLeft {
        margin-left: 20px;
        list-style-type: circle;
    }

    .reportItem ul li span {
        float: right;
        margin: 0 -4.8%;
    }

    .guideline .ui-accordion-header-active {
        color: #333333;
        background-color: lightgrey;
        border-color: darkgrey;
        padding: .2em .5em .2em .7em;
    }

    .guideline .ui-accordion-header-collapsed {
        padding: .2em .5em .2em .7em;
        border: none;
    }

    .reportItem .ui-accordion-header-active {
        color: #333333;
        background-color: lightgrey;
        border-color: darkgrey;
        padding: .2em .5em .2em .7em;
    }

    .reportItem .ui-accordion-header-collapsed {
        padding: .2em .5em .2em .7em;
        border: none;
    }

    .titleBar .ui-accordion-header {
        padding-left: 15px;
        background: none;
        color: white;
        border: none;
    }
    .subGuideline {
        margin-bottom: 2px;
    }

    h4 .badge {
        float: right;
    }
    .badge-5 {
        color: #b94a48;
        background-color: #f2dede;
        border-color: #eed3d7;
    }
    .badge-4 {
        color: #806000;
        background-color: #ffecb3;
        border-color: #cca633;
    }
    .badge-3 {
        color: #208000;
        background-color: #c6ffb3;
        border-color: #208000;
    }
    .badge-2 {
        color: #000099;
        background-color: #b3b3ff;
        border-color: #000099;
    }
    .badge-1 {
        color: #47476b;
        background-color: #d1d1e0;
        border-color: #47476b;
    }
</style>