@{
    ViewBag.Title = "Project 3";
}

<div class="jumbotron">
    <h3>Lab Project 3 - Develop a user interface for smart phone application.</h3>
</div>

<div>
    <h4>Content</h4>
    <p>

    </p>
    <form action="https://docs.google.com/uc">
        <input type="hidden" name="export" value="download" />
        <input type="hidden" name="id" value="0BwLS0q_z3G1SZ2dqa1JNNHNHVEE" />
        <input type="submit" class="btn btn-default" aria-label="..." value="Download APK">
    </form>
</div>
